<!DOCTYPE html>

<html>
 <head>
   <title>Achatina Monitor</title>
   <style>body { width: 650px; }</style>
 </head>
 <body>
   <div>
   <table>
     <tr>
       <th><h2 style="color:blue;"> {{s}} </h2></th>
     </tr>
     <tr>
       <th>Device ID: {{n}}</th>
     </tr>
     <tr>
       <th><span id="when">&nbsp;</span></th>
     </tr>
     <tr>
       <td><img id="detect" height="480px" width="640px" src="/images/detect.jpg" alt="Prediction Image" /></td>
     </tr>
     <tr><td> &nbsp; </td></tr>
     <tr>
       <td> &nbsp; Found entities in <span id="classes"> {{c}} </span> class(es).</td>
     </tr>
     <tr>
       <td> &nbsp; Camera time: <span id="camtime"> {{ct}} </span> seconds.</td>
     </tr>
     <tr>
       <td> &nbsp; Inferencing time: <span id="inftime" style="font-weight:bold;color:blue;"> {{it}} </span> seconds.</td>
     </tr>
     <tr><td> &nbsp; </td></tr>
     <tr>
       <td> &nbsp; More information: <a href={{u}}> {{u}} </a></td>
     </tr>
     <tr><td> &nbsp; </td></tr>
     <tr>
       <td>
         {{kafka_msg}}
       </td>
     </tr>
   </table>
   </div>
   <script type=text/javascript src="{{ url_for('static', filename='refreshValues.js') }}"></script>
 </body>
</html>